doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/stylesheets/license.css")
  body
    block content
    div(class="license")  
      br/
      a(href="https://creativecommons.org/licenses/by-sa/4.0/" rel="license") 
        img(src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" alt="Creative Commons License" style="border-width:0")
      br/ 
      | This work is licensed under a 
      a(rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/") Creative Commons Attribution-ShareAlike 4.0 International License