doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css', type='text/css', encoding='UTF-8')
    link(rel='stylesheet', href='/stylesheets/license.css', type='text/css', encoding='UTF-8')
  body
    block content
    include license